@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Inter:wght@400;500;700&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

body {
    background-color: #F3F4F6; /* slate-100 */
    color: #0f172a; /* slate-900 */
    margin: 0;
    height: 100%;
}

html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
}
